################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aedamieic/aedamieic.sln
/aedamieic/.vs/aedamieic/v14/.suo
/aedamieic/aedamieic.VC.VC.opendb
/aedamieic/aedamieic.VC.db
/aedamieic/aedamieic/aedamieic.vcxproj.filters
/aedamieic/aedamieic/aedamieic.vcxproj
